.ytd-video-meta-block {
  display: none !important;
}

#metadata-line {
  display: none !important;
}

#info-text {
  display: none !important;
}

#text.ytd-toggle-button-renderer {
  display: none;
}

ytd-comment-action-buttons-renderer {
  display: none !important;
}

yt-formatted-string[has-link-only_]:not([force-default-style])
  a.yt-simple-endpoint.yt-formatted-string {
  display: none !important;
}
ytd-playlist-panel-video-renderer[watch-color-update]
  #byline.ytd-playlist-panel-video-renderer {
  display: none !important;
}

#owner-sub-count.ytd-video-owner-renderer {
  display: none !important;
}
#subscriber-count.ytd-c4-tabbed-header-renderer {
  display: none !important;
}

.badge-style-type-verified.ytd-badge-supported-renderer {
  display: none;
}

#thumbnail-attribution.ytd-grid-channel-renderer {
  display: none;
}

#title.ytd-grid-channel-renderer {
  display: none;
}

h2#count.style-scope.ytd-comments-header-renderer {
  display: none !important;
}

ytd-item-section-renderer#sections.style-scope.ytd-comments {
  display: none !important;
}

div#description.style-scope.ytd-video-secondary-info-renderer {
  display: none !important;
}
ytd-sentiment-bar-renderer#sentiment.style-scope.ytd-video-primary-info-renderer {
  display: none;
}
yt-icon.ytd-badge-supported-renderer {
  display: none;
}

ytd-playlist-panel-renderer[collapsible] .title.ytd-playlist-panel-renderer {
  display: none !important;
}
